<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <title>Registration Form</title>
</head>

<body>
    <h1>Registration Form</h1>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
    {% if category == 'error' %}
    <p id='red'>{{message}}</p>
    {% endif %} {% endfor %} {% endif %} {% endwith %} {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category == 'success' %}
    <p id='green'>{{message}}</p>
    {% endif %} {% endfor %} {% endif %} {% endwith %}
    <form action='/process' method='POST'>
        Email:
        <input type='text' name='email' required>
        <br>
        <br> First Name:
        <input type='text' name='first_name' required>
        <br>
        <br> Last Name:
        <input type='text' name='last_name' required>
        <br>
        <br> Date of Birth:
        <input type='date' name='dateOfBirth' required>
        <br>
        <br> Password:
        <input type='password' name='password' required>
        <br>
        <br> Confirm Password:
        <input type='password' name='confirm' required>
        <br>
        <br>
        <input type='submit' value='Submit'>
    </form>
</body>

</html>